:root {
    --corner-round: 12px;
    --shadow-color: gray;
    --main-color: rgb(192, 137, 199);
    --image-width: 100px;
}

* {
    box-sizing: border-box;
}

html,
body,
p {
    margin: 0;
    padding: 0;
}

body {
    /* Centrar usando flex */
    display: flex;
    height: 100dvh; /* dvh => dinamic viewport height */
    justify-content: center; /* centrar en X */
    align-items: center; /* centrar en Y */
    /* ------------------- */
}

.card {
    font-family: "Playwrite GB S", cursive;
    width: 300px;
    border-radius: var(--corner-round);
    box-shadow: 1px 1px 10px var(--shadow-color);
    padding-bottom: 20px;
    /* Centrar en X siendo un bloque */
    /* margin: auto; */

    text-align: center; /* alinear texto en X */
    overflow: hidden;

    .color {
        height: 100px;
        background-color: var(--main-color);
    }

    .image {
        width: calc(var(--image-width) + 4px);
        height: calc(var(--image-width) + 4px);
        background-color: var(--main-color);
        border-radius: 100%;

        /* Centrar imagen */
        display: flex;
        justify-content: center;
        align-items: center;
        /* -------------- */

        /* ----- mover imagen ----- */
        position: relative;
        top: 25px;
        left: 50%;
        transform: translate(-50%);
        /* ------------------------ */

        img {
            width: var(--image-width);
            border-radius: 100px;
            background-color: aliceblue;
            border: 2px solid white;
        }
    }

    h1 {
        margin-top: 40px;
        font-size: 20px;
        font-weight: bold;
    }

    h3 {
        font-size: 15px;
    }

    .icon-container {
        display: flex;
        justify-content: center;
        gap: 8px;

        .icon {
            width: 48px;
            height: 48px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 30px;
            }
        }

        .icon:first-child {
            background-color: #4071f4;
        }
        .icon:nth-child(2) {
            background-color: rgb(41, 173, 190);
        }

        .icon:nth-child(3) {
            background-color: rgb(184, 65, 154);
        }

        .icon:nth-child(4) {
            background-color: rgb(212, 48, 48);
        }
    }

    .buttons {
        margin: 10px 0;

        button {
            font-family: "Playwrite GB S", cursive;
            border: none;
            border-radius: 20px;
            padding: 10px 20px;
            background-color: var(--main-color);
            transition: background-color .3s ease-in-out;
        }
        button:hover {
            background-color: rgba(226, 54, 83, 0.308);
        }
    }
}
