body {
	display: flex;
	justify-content: center;
  height: 100dvh;
  align-items: center;
	background-color: beige;
	font-family: sans-serif;
}

body div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	background-color: aquamarine;
	padding: 25px;
	border-radius: 10px;
}

.task-container {
	gap: 5px;
}

.task-container div {
	padding: 10px 0;
	flex-direction: row;
	background-color: burlywood;
}

.task-container div h3,
.buttons-container {
	margin: 0 10px;
}

.task-container div .buttons-container {
	justify-content: end;
}

form input {
	width: 300px;
	border: none;
	padding: 5px 10px;
	border-radius: 10px;
  background-color: wheat;
  outline: none;
}

form button {
	padding: 5px 10px;
  border: none;
  border-radius: 10px;
  background-color: wheat;
}
